body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }

  .container {
  width: 90%;        
  max-width: 400px;  
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  #input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  #add {
    width: 100%;
    padding: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  ul {
    margin-top: 20px;
    padding: 0;
  }

  li {
    list-style: none;
    background: #eee;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-group {
    display: flex;
    gap: 6px;
  }

  .hapus {
    background: red;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  .selesai {
    background: rgb(27, 153, 15);
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  .edit {
  background: #ff9800;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 4px;
}

button:hover { opacity: 0.8; }

#filters {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#filters button {
  flex: 1;
  margin-right: 4px;
  padding: 6px 0;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

#filters button:last-child {
  margin-right: 0;
}

#clearComplete {
  margin-top: 10px;
  width: 100%;
  padding: 8px 0;
  border: none;
  border-radius: 6px;
  background-color: #f44336; /* merah */
  color: white;
  cursor: pointer;
}
#clearComplete:hover {
  opacity: 0.8;
}

